@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Open+Sans:wght@400;600;700&family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
$large: 1069px;

@mixin largeScreen {
  @media (min-width: $large) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 50px;
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:hover {
    background-color: #ff52bfad;
    border-color: none;
    color: #fff;
  }
}

.btn-pink {
  background: none;
  color: #ff52bfad;
  border: 1px solid #ff52bfad;
  padding: 6px 10px;
}

.btn-outlined {
  padding: 0.89rem 2rem;
}

.no-outline {
  border-radius: 1px;
}

.section-2,
.section-footer,
.section-conversation,
.section-flow,
.section-user {
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  width: 100%;

  nav {
    display: flex;
    padding: 23px 20px;

    @include largeScreen() {
      padding: 53px 45px;
    }
  }

  .brand {
    flex: 1 0 auto;

    img {
      width: 88px;
      height: 18px;
    }
  }
}

main {

  .section {
    padding: 83px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include largeScreen() {
      padding: 112px 153px 83px 153px;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 21px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        margin-bottom: 22px;

        @include largeScreen() {
          font-size: 34px;
        }
      }

      p {
        margin-bottom: 44px;
        font-size: 14px;

        @include largeScreen() {
          font-size: 15px;
          width: 450px;
        }
      }
    }

    .image-container {
      margin-top: 88px;
      width: 265px;
      height: 186px;

      @include largeScreen() {
        width: 764px;
        height: 540px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .section-2 {
    background-image: url("/images/bg-section-top-mobile-1.svg");
    background-position: bottom center;
    padding: 24px 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include largeScreen() {
      background-image: url("/images/bg-section-top-desktop-1.svg");
      padding: 0 203px;
      flex-direction: row;
      justify-content: space-around;
    }

    .count-container {
      margin-bottom: 76px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      :first-child {
        align-self: flex-start;
      }

      @include largeScreen() {
        margin-bottom: 203px;
      }

      img {
        width: 28px;
        height: 25px;
      }

      h1 {
        font-size: 45px;

        @include largeScreen() {
          font-size: 57px;
        }
      }

      p {
        font-size: 12px;

        @include largeScreen() {
          font-size: 19px;
        }
      }
    }
  }

  .section-conversation {
    height: 431px;


    .contents {
      background: hsl(207, 100%, 98%);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 103px 60px 99px 60px;

      @include largeScreen() {
        flex-direction: row-reverse;
        padding: 66px 95px;
      }

      .img-content {
        width: 100%;
        width: 236px;
        height: 201px;
        margin-bottom: 81px;

        @include largeScreen() {
          width: 30%;
          margin-right: 95px;
          width: 402px;
          height: 299px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        @include largeScreen() {
          width: 36%;
          align-items: flex-start;
          text-align: left;
        }

        h1 {
          margin-bottom: 23px;

          @include largeScreen() {
            font-size: 26px;
          }

        }

        p {
          align-self: flex-start;

          @include largeScreen() {
            font-size: 14px;
          }
        }
      }
    }
  }

  .section-flow {

    background-image: url('/images/bg-section-bottom-mobile-1.svg'), url('/images/bg-section-top-mobile-2.svg');
    background-position: top center, bottom center;

    @include largeScreen() {
      background-image: url('/images/bg-section-bottom-desktop-1.svg'), url('/images/bg-section-top-desktop-2.svg');

    }

    .contents {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 278px 60px 113px 60px;

      @include largeScreen() {
        flex-direction: revert;
        padding: 199px 95px;
      }

      .img-content {
        width: 100%;
        width: 236px;
        height: 201px;
        margin-bottom: 81px;

        @include largeScreen() {
          width: 40%;
          margin-right: 95px;
          width: 402px;
          height: 299px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        @include largeScreen() {
          width: 45%;
          align-items: flex-start;
          text-align: left;
        }

        h1 {
          margin-bottom: 23px;

          @include largeScreen() {
            font-size: 26px;
          }

        }

        p {
          align-self: flex-start;
          font-size: 14px;
        }
      }
    }
  }


  .section-user {
    .contents {
      background: hsl(207, 100%, 98%);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 95px 170px 95px;

      @include largeScreen() {
        flex-direction: row-reverse;
        padding: 66px 95px;
      }

      .img-content {
        width: 100%;
        width: 236px;
        height: 201px;
        margin-bottom: 71px;

        @include largeScreen() {
          width: 30%;
          margin-right: 95px;
          width: 402px;
          height: 299px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        @include largeScreen() {
          align-items: flex-start;
          text-align: left;
          width: 36%;
        }

        h1 {
          font-weight: 700;
          margin-bottom: 23px;

          @include largeScreen() {
            font-size: 26px;
          }
        }

        p {
          align-self: flex-start;
          font-size: 14px;
        }
      }
    }
  }

  .section-footer {
    background-image: url('/images/bg-section-bottom-mobile-2.svg'), url('/images/bg-footer-top-mobile.svg');
    background-position: top center, bottom center;

    @include largeScreen() {
      background-image: url('/images/bg-section-bottom-desktop-2.svg'), url('/images/bg-footer-top-desktop.svg');
      background-position: top center, bottom center;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 62px 57px 215px 57px;

      h1 {
        margin-bottom: 32px;
      }

      @include largeScreen() {
        padding: 207px 280px 259px 280px;
      }
    }
  }
}

footer {
  padding: 96px 20px 35px 20px;
  width: 100%;
  background: hsl(192, 100%, 9%);
  color: #fff;

  @include largeScreen() {
    padding: 80px 84px 73px 84px;
  }

  display: flex;
  flex-direction: column;

  @include largeScreen() {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include largeScreen() {
      margin-left: 280px;
    }

    h1 {
      font-size: 19px;
      margin-bottom: 19px;

      @include largeScreen() {
        font-size: 21px;
      }
    }

    p {
      font-size: 15px;
      margin-bottom: 30px;

      @include largeScreen() {
        font-size: 16px;
      }
    }

    form {
      margin-bottom: 87px;
      width: 100%;
      display: flex;
      flex-direction: column;

      @include largeScreen() {
        flex-direction: row;
        gap: 27px;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .form-link {
        align-self: flex-end;
        width: 50%;
        border-radius: 10px;
        padding: 12px 36px;
      }
    }
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .logo {
      margin-bottom: 16px;

      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(326deg) brightness(107%) contrast(101%);
      }
    }

    p {
      font-size: 13px;
    }

    .links {
      margin-top: 36px;
      display: flex;
      gap: 11px;
    }

    .social-links {
      margin-top: 43px;
      display: flex;
      gap: 15px;

      a {
        cursor: pointer;
        color: #fff;

        &:hover {
          color: hsl(210, 94%, 49%);
        }
      }
    }
  }
}